*, *::before, *::after {
  box-sizing: border-box;
  font-family: Gotham Rounded, sans-serif;
  font-weight: normal;
}
body{
	padding:0px;
	margin:0px;
	background:linear-gradient(to right,  #2193b0, #6dd5ed);
}
.calculator{
	display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}
.calculator > button{
	cursor: pointer;
  font-size: 1.5rem;
  border: 1px solid white;
  outline: none;
  background-color: rgba(255, 255, 255, .75);
}

.calculator > .number:hover , .calculator > .operator:hover {
  background-color: rgba(255, 255, 255, .9);
}

.display{
grid-column: 1 / -1;
  background-color: rgba(0, 0, 0, .75);
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
}
.prev{
	color: rgba(255, 255, 255, .75);
  font-size: 1.5rem;
}
.curr{
	color: white;
  font-size: 2rem;
}